<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Currency Converter</title>
    <style>
 body{
     background-image: url("https://thumbs.dreamstime.com/z/international-money-background-24288927.jpg");
 }
 h1{
     text-align: center;
     font-family: Tahoma, sans-serif;
     width: 200px;
     height: 200px;
     margin: auto ;
 }
    </style>
</head>
<body>
<h1> CURRENCY CONVERTER </h1>

<form action="/q" method="get">
    <input name="currencyTypeUserSearch" type="search" placeholder="Search currency abbreviation" required="required" autocomplete="off"/>
    <input name="valueUserSearch" type="search" placeholder="Enter currency amount" required="required" autocomplete="off"/>
    <input type="submit" value="Submit">
</form>



</body>
</html>